{% extends "clan/stronghold/admin.html" %}

{% block clanpage_url %}
Введіть адресу
<a target="_blank" href="http://{{game_zone}}/">офіційної сторінки клану</a> в полі вводу. Наприклад, для клану [WG] (ru) адреса буде<br>
<i>http://ru.wargaming.net/clans/1/</i>
{% endblock %}

{% block invite_tip %}
Командир або заступник командира запрошеного клану повинен прийняти ваше запрошення. Він може знайти його після авторизації в розділі "Укріпрайон", кнопка "Захист укріпрайону", кнопка "Вступити в союз або створити свій".
{% endblock %}
