{% extends "base.html" %}
{% load i18n %}

{% block head %}
<title>World of Tanks clans management: documentation and contacts</title>
{% endblock %}

{% block content %}
<h1>Need help?</h1>

<p>
First, you can <a href="{% trans "http://clanpaneldoc.readthedocs.org/en/latest/" %}">read the documentation</a>.
</p>

<p>
For support, bug reports, questions, please <a target="_blank" href="{{forum_topic}}">use this topic</a> on official WorldOfTanks forum.
</p>

<p>
For financial questions please send "Private Message" for user <strong>vb64</strong> on official forum.
</p>

{% endblock %}

