{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>
You are successfully paid for the servicing in 

{% if mode_type == 'base' %}
base mode per {{base_mode_days}} days
{% else %}
premium mode per {{prem_mode_days}} days
{% endif %}

{% if clan %}
for clan [{{clan.tag}}]
{% endif %}
.
</p>

<p>
Go to
{% if clan %}
<a href="{% url clans_info server=clan.server clanid=clan.wotid %}">clan page</a>
{% else %}
<a href="{% url action_home %}">main page</a>
{% endif %}
</p>

{% endblock %}

