{% extends "clan/manage.html" %}

{% block label_sh_frozen %}
Укріпрайон клану заморожений (Командний центр має менше 20% міцності).
{% endblock %}

{% block label_root_date %}
Брати до уваги статистику за період, починаючи з цієї дати.
Залиште поле порожнім, для обліку з моменту першого поновлення даних.
{% endblock %}

{% block label_private_mode %}
Тільки члени клану можуть заходити на кланові сторінки (Недоступно в безкоштовному режимі)
{% endblock %}

{% block label_alt_position_titles %}
Альтернативні назви кланових посад
{% endblock %}

{% block label_admin_roles %}
<p>
<strong>Доступ до розділу "Управління" і затвердження звітів в розділі "Відвідування".</strong>
</p>
<p>
Командир клану і його заступники завжди мають доступ. Новобранці не мають доступу.
Задайте, хто з інших учасників клану повинен мати доступ.
</p>
{% endblock %}
