{% extends "clan/online.html" %}
{% load i18n %}

{% block online_content %}
У календарях показано число учасників клану, у яких були бої в певний день.
{% endblock %}

{% block online_to_premium %}
У преміум режимі ви можете переглядати зведений онлайн клану по годинах доби, <a target="_blank"  href="http://wot-clans.appspot.com/clan/ru/1/online">як тут</a>.
{% endblock %}

{% block online_hourly %}
Графік боїв учасників клану по годинах доби.
{% endblock %}

{% block online_tip %}
Натисніть на стовбчику години для перегляду активних учасників за цей час
{% endblock %}

{% block day_click_info %}
Натисніть на комірці календаря для перегляду докладних даних за цей день.
{% endblock %}

{% block online_hour_view %}
Крім даних за поточну годину. Ці дані будуть доступні на початку наступної години.
{% endblock %}
