{% extends "clan/trial.html" %}

{% block msg_already_used %}
Клан <strong>[{{clan.5}}]</strong> вже використовував пробний період.
{% endblock %}

{% block msg_base_improvements %}
Базовий режим автоматично і щодня оновлює дані клану і містить наступні покращання в порівнянні з безкоштовним режимом:
{% include "ru/text_base.html" %}
{% endblock %}

{% block msg_base_activate %}
Ви можете активувати пробний період <strong>30 днів обслуговування в режимі "Базовий"</strong> для клану
{% endblock %}

{% block msg_need_clanadmin %}
<strong>Командир або заступник командира [{{clan.5}}]</strong>, може активувати пробний період <strong>30 днів обслуговування в режимі "Базовий"</strong>, відвідавши цю сторінку (необхідно ввійти через Wargaming OpenID).
{% endblock %}
