{% extends "account/manage.html" %}

{% block companies_message %}
Ви перебуваєте в наступних танкових ротах:
{% endblock %}

{% block no_companies_message %}
Ви не перебуваєте в кланових ротах.
{% endblock %}

{% block msg_email_verify %}
Ваш email адреса підтверджена. Мова повідомлень:  {{user_lang}}
{% endblock %}

{% block msg_email_not_verify %}
Увага! Вашу адресу електронної пошти не підтверджено. На цю адресу електронної пошти надісланий лист з інструкціями для завершення перевірки.
Якщо ви хочете відправити лист з інструкціями повторно, очистіть поле email, збережіть налаштування, а потім введіть потрібну адресу email і ще раз збережіть налаштування.
{% endblock %}

{% block msg_email_empty %}
Ви можете отримувати щоденні повідомлення про події в клані, якщо вкажете свій email. (Недоступно в безкоштовному режимі)
{% endblock %}

{% block pr_status_title %}
Ваш поточний статус
{% endblock %}

{% block pr_status_tips %}
Короткий (до 30 символів) опис вашого поточного статусу для відображення в таблицях. Наприклад: "відпустка до 20 липня" або "в терміновому відрядженні"
{% endblock %}

{% block location_tips %}
Щоб вказати своє місце розташування, клікніть по карті і збережіть налаштування.
Поставлений маркер можна перетягувати.
Якщо ви хочете видалити дані про своє місцезнаходження, клікніть на маркері.
Після того як зникне маркер, збережіть налаштування.
{% endblock %}
