{% extends "clan/stronghold/admin.html" %}

{% block clanpage_url %}
Enter address of the 
<a target="_blank" href="http://{{game_zone}}/">official clan page</a> into input box. For example, for wargaming.net clan [WG] (eu) address is<br>
<i>http://eu.wargaming.net/clans/500000001/</i>
{% endblock %}

{% block invite_tip %}
Leader or vice-leader of invited clan must accept your invite. He can find your invite after authorization in section "Stronghold", button "Defense of Stronghold", button "Join to union or create new".
{% endblock %}
