{% extends "clan/update/free.html" %}
{% load i18n %}

{% block promo_base_content %}
У безкоштовному режимі ви можете оновлювати дані не частіше, ніж один раз в три дні. Для поновлення даних потрібно зайти на цю сторінку і натиснути кнопку "Оновити дані".
При перемиканні в <strong>базовий режим</strong> оновлення даних буде відбуватися автоматично кожен день. 
Вартість обслуговування в базовому режимі становить <strong>{{base_mode_rur}} рублів за {{base_mode_days}} днів</strong> на клан.
{% endblock %}

{% block promo_premium_content %}
<strong>Преміум режим</strong> включає в себе <a target="_blank" href="{% url action_doc_page page='pricing' %}">всі можливості базового режиму</a>, плюс деяку додаткову детальну інформацію про учасників клану.
Вартість обслуговування в преміум режимі становить <strong>{{prem_mode_rur}} рублів за {{prem_mode_days}} днів</strong> на клан.
{% endblock %}
