{% extends "ua/clan/update/base.html" %}
{% load i18n %}

{% block service_mode_text %}
<p>
Ви збираєтеся сплатити для клану <strong>[{{clan.5}}]</strong> обслуговування в преміум режимі.
</p>

<p>
Преміум режим включає в себе всі можливості <a target="_blank" href="{% url action_doc_page page='pricing' %}">базового режима</a>.
Крім того, преміум режим включає: 
{% include "ua/text_prem.html" %}
</p>

<p>
Вартість обслуговування в преміум режимі становить <strong>{{prem_mode_rur}} рублів за {{prem_mode_days}} днів</strong>.
</p>
{% endblock %}

{% block ym_message %}30+%D0%B4%D0%BD%D0%B5%D0%B9+%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F+%D0%B2+%D0%BF%D1%80%D0%B5%D0%BC%D0%B8%D1%83%D0%BC+%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B5+%D0%B4%D0%BB%D1%8F+%D0%BA%D0%BB%D0%B0%D0%BD%D0%B0+%5B{{clan.5}}%5D{% endblock %}

{% block ym_message1 %}30+%D0%B4%D0%BD%D0%B5%D0%B9+%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F+%D0%B2+%D0%BF%D1%80%D0%B5%D0%BC%D0%B8%D1%83%D0%BC+%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B5+%D0%B4%D0%BB%D1%8F+%D0%BA%D0%BB%D0%B0%D0%BD%D0%B0+%5B{{clan.5}}%5D{% endblock %}

{% block service_mode_button %}
<input type="hidden" name="hosted_button_id" value="U55EZLUUJUWNA">
{% endblock %}
