{% extends "clan/news.html" %}
{% load i18n %}

{% block service_mode %}
{% endblock %}

{% block part_content %}

{% block service_mode_text %}
<p>
Вы собираетесь оплатить для клана <strong>[{{clan.5}}]</strong> обслуживание в базовом режиме. 
</p>

<p>
Базовый режим автоматически и ежедневно обновляет данные клана и содержит следующие улучшения по сравнению с бесплатным режимом:
{% include "ru/text_base.html" %}
</p>

<p>
Стоимость обслуживания в базовом режиме составляет <strong>{{base_mode_rur}} рублей за {{base_mode_days}} дней</strong>.
</p>
{% endblock %}

<div class="table-container table-responsive">
<table class="table table-hover">
<tr>
<td>
<img class="blog_title" src="/media/img/b-head-logo.ru.png" title="Яндекс.Деньги" alt="Яндекс.Деньги"/>
</td>

<td>
<iframe frameborder="0" allowtransparency="true" scrolling="no" 
src="https://money.yandex.ru/embed/small.xml?uid=41001898889873&amp;label={{pay_data}}&amp;button-text=01&amp;button-size=m&amp;button-color=orange&amp;targets=
%D0%9A%D0%BB%D0%B0%D0%BD-%D0%BF%D0%B0%D0%BD%D0%B5%D0%BB%D1%8C%3A+
{% block ym_message %}{{base_mode_days}}+%D0%B4%D0%BD%D0%B5%D0%B9+%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F+%D0%B2+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D0%BE%D0%BC+%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B5+%D0%B4%D0%BB%D1%8F+%D0%BA%D0%BB%D0%B0%D0%BD%D0%B0+%5B{{clan.5}}%5D{% endblock %}
&amp;default-sum={{base_mode_rur}}" 
width="auto" height="54"></iframe>
</td>

</tr>

<tr>
<td>
<img class="blog_title" src="/media/img/visa_mastercard_1.gif" title="Банковские карты Visa и MasterCard" alt="Банковские карты Visa и MasterCard"/>
</td>

<td>
<iframe frameborder="0" allowtransparency="true" scrolling="no" 
src="https://money.yandex.ru/embed/small.xml?account=41001898889873&quickpay=small&any-card-payment-type=on&amp;label={{pay_data}}&amp;button-text=01&amp;button-size=m&amp;button-color=black&amp;targets=
%D0%9A%D0%BB%D0%B0%D0%BD-%D0%BF%D0%B0%D0%BD%D0%B5%D0%BB%D1%8C%3A+
{% block ym_message1 %}{{base_mode_days}}+%D0%B4%D0%BD%D0%B5%D0%B9+%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F+%D0%B2+%D0%B1%D0%B0%D0%B7%D0%BE%D0%B2%D0%BE%D0%BC+%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B5+%D0%B4%D0%BB%D1%8F+%D0%BA%D0%BB%D0%B0%D0%BD%D0%B0+%5B{{clan.5}}%5D{% endblock %}
&amp;default-sum={{base_mode_rur}}" 
width="auto" height="54"></iframe>
</td>

</tr>

<tr>

<td>
<img class="blog_title" src="/media/img/PayPal_logo_150x65.gif" {% block pp_image %}title="" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!"{% endblock %}/>
</td>

<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">  

{% block service_mode_button %}                     
<input type="hidden" name="hosted_button_id" value="SA2MBJUNYQYUL">
{% endblock %}

<input type="hidden" name="lc" value="RU">
<input type="hidden" name="rm" value="2">
<input type="hidden" name="notify_url" value="{{site_host}}{% url action_pay_ipn paysystem='paypal' %}">
<input type="hidden" name="return" value="{{site_host}}{% url action_pay_success paysystem='paypal' %}">
<input type="hidden" name="cancel_return" value="{{site_host}}{% url action_pay_cancel paysystem='paypal' %}">
<input type="hidden" name="custom" value="{{pay_data}}">

{% block pp_logo %}
<input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
<img alt="" border="0" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" width="1" height="1">
{% endblock %}
</form>
</td>

</tr>

</table>
</div>
{% endblock %}
