{% extends "clan/update/free.html" %}
{% load i18n %}

{% block promo_base_content %}
В бесплатном режиме вы можете обновлять данные не чаще, чем один раз в три дня. Для обновления данных нужно зайти на эту страницу и нажать кнопку "Обновить данные".
При переключении в <strong>базовый режим</strong> обновление данных будет происходить автоматически каждый день. 
Стоимость обслуживания в базовом режиме составляет <strong>{{base_mode_rur}} рублей за {{base_mode_days}} дней</strong> на клан.
{% endblock %}

{% block promo_premium_content %}
<strong>Премиум режим</strong> включает в себя <a target="_blank" href="{% url action_doc_page page='pricing' %}">все возможности базового режима</a>, плюс некоторую дополнительную детальную информацию об участниках клана.
Стоимость обслуживания в премиум режиме составляет <strong>{{prem_mode_rur}} рублей за {{prem_mode_days}} дней</strong> на клан.
{% endblock %}
