{% extends "clan/stronghold/admin.html" %}

{% block clanpage_url %}
Введите адрес
<a target="_blank" href="http://{{game_zone}}/">официальной страницы клана</a> в поле ввода. Например, для клана [WG] (ru) адрес будет<br>
<i>http://ru.wargaming.net/clans/1/</i>
{% endblock %}

{% block invite_tip %}
Командир или заместитель командира приглашенного клана должен принять ваше приглашение. Он может найти его после авторизации в разделе "Укрепрайон", кнопка "Защита Укрепрайона", кнопка "Вступить в союз или создать свой".
{% endblock %}
