{% extends "error/openid_verify.html" %}

{% block promo_message %}
<p>
You refused to authenticate via Wargaming OpenID.
If this decision raised doubts about the security of your account, you can see the 
<a target="_blank" href="https://na.wargaming.net/support/Knowledgebase/Article/View/182/22/what-is-openid-and-how-do-i-use-it">position of the Wargaming.net</a>
on this issue:
</p>

<div style="background-color:#D7D3C2;">
<p>
This will allow World of Tanks, World of Warplanes and future World of Warships players to <strong>safely log into third-party resources</strong>
without having to register to any additional services by using their Wargaming.net ID.
</p>
</div>

<p>
OpenID protocol specifically designed in order to allow for authorization without access to private data of the user account.
</p>
{% endblock %}
