{% extends "account/manage.html" %}

{% block companies_message %}
Вы состоите в следующих танковых ротах:
{% endblock %}

{% block no_companies_message %}
Вы не состоите в клановых ротах.
{% endblock %}

{% block msg_email_verify %}
Ваш email адрес подтвержден. Язык сообщений:  {{user_lang}}
{% endblock %}

{% block msg_email_not_verify %}
Внимание! Ваш адрес электронной почты не подтвержден. На этот адрес электронной почты отправлено письмо с инструкциями для завершения проверки.
Если вы хотите отправить письмо с инструкциями повторно, очистите поле email, сохраните настройки, затем введите нужный адрес email и еще раз сохраните настройки.
{% endblock %}

{% block msg_email_empty %}
Вы можете получать ежедневные сообщения о событиях в клане, если укажете свой email. (Недоступно в бесплатном режиме)
{% endblock %}

{% block pr_status_title %}
Ваш текущий статус
{% endblock %}

{% block pr_status_tips %}
Краткое (до 30 символов) описание вашего текущего статуса для отображения в таблицах. Например: "отпуск до 20 июля" или "в срочной командировке"
{% endblock %}

{% block location_tips %}
Чтобы указать свое местоположение, кликните по карте и сохраните настройки. 
Поставленный маркер можно перетаскивать. 
Если вы хотите удалить данные о своем местоположении, кликните на маркере.
Маркер пропадет, после этого сохраните настройки.
{% endblock %}
