{% extends "account/manage.html" %}

{% block companies_message %}
You are a member of the following tank companies:
{% endblock %}

{% block no_companies_message %}
You are not in a tank companies of the clan.
{% endblock %}

{% block msg_email_verify %}
Your email address is verified. Message language: {{user_lang}}
{% endblock %}

{% block msg_email_not_verify %}
Attention! Your email address is not verified. At this email address sent an email with instructions to complete the verification.
If you want to re-send the verification letter, clear the email field, save the settings, then enter the email address and again save the setting.
{% endblock %}

{% block msg_email_empty %}
You can receive reports on events in the clan, if you enter your email. (Not available in free mode)
{% endblock %}

{% block pr_status_title %}
Your current status 
{% endblock %}

{% block pr_status_tips %}
Short (up to 30 characters) description of your current status to be displayed in tables. For example: "rest to July 20" or "urgent trip"
{% endblock %}

{% block location_tips %}
To specify your location, please click on the map and save the settings.
Existing marker can be dragged.
If you want to delete the data about your location, click on the marker.
The marker disappears, then save settings.
{% endblock %}
