{% extends "clan/manage.html" %}

{% block label_root_date %}
Take into consideration the statistic for the period from that date. 
Leave blank, to start since the first update.
{% endblock %}

{% block label_private_mode %}
Only clan members can visit clan pages (Not available in free mode)
{% endblock %}

{% block label_alt_position_titles %}
Alternate titles for clan positions
{% endblock %}

{% block label_admin_roles %}
<p>
<strong>Access rights to "Management" section and approving reports in "Attendance" section.</strong>
</p>
<p>
The leader of the clan and vice-leaders always have access. Recruits do not have access.
Specify which of the other clan members must have access to.
</p>
{% endblock %}
