{% extends "clan/online.html" %}
{% load i18n %}

{% block online_content %}
The calendars shows the number of clan members who has battles on a certain day.
{% endblock %}

{% block online_to_premium %}
With premium mode, you can view consolidated online of the clan per hours, <a target="_blank" href="http://wot-clans.appspot.com/clan/ru/1/online">like this</a>.
{% endblock %}

{% block online_hourly %}
Graph of the battles by clan members per hours.
{% endblock %}

{% block online_tip %}
Click on bar of hour for view active members list
{% endblock %}

{% block day_click_info %}
Click on cell into calendar for view detailed information for that day.
{% endblock %}

{% block online_hour_view %}
Except the data for the current hour. These data will be available at the beginning of the next hour.
{% endblock %}
