{% extends "clan/prem_trial.html" %}

{% block msg_already_used %}
Клан <strong>[{{clan.5}}]</strong> уже использовал пробный период для премиум-режима.
{% endblock %}

{% block msg_base_activate %}
Вы можете активировать пробный период <strong>24 часа обслуживания в премиум-режиме</strong> для клана
{% endblock %}

{% block msg_need_clanadmin %}
<strong>Командир или замкомандира [{{clan.5}}]</strong>, может активировать пробный период <strong>24 часа обслуживания в премиум-режиме</strong>, посетив эту страницу (требуется авторизация через Wargaming OpenID).
{% endblock %}

{% block msg_base_improvements %}
Премиум режим включает в себя все возможности <a target="_blank" href="{% url action_doc_page page='pricing' %}">базового режима</a>.
Кроме того, премиум режим включает: 
{% include "ru/text_prem.html" %}
{% endblock %}
