{% extends "clan/prem_trial.html" %}

{% block msg_already_used %}
Clan <strong>[{{clan.5}}]</strong> has already used the free premium trial period.
{% endblock %}

{% block msg_base_activate %}
You can activate trial period for <strong>24 hours of the Premium plan</strong> for clan 
{% endblock %}

{% block msg_need_clanadmin %}
<strong>Leader or vice-leader [{{clan.5}}]</strong> can activate the trial period for <strong>24 hours of the Premium plan</strong> by visiting this page (requires authorization via Wargaming OpenID)
{% endblock %}

{% block msg_base_improvements %}
Premium plan include all abilities of the <a target="_blank" href="{% url action_doc_page page='pricing' %}">base plan</a>.
In addition, the premium plan allows you: 
{% include "de/text_prem.html" %}
{% endblock %}
