{% extends "base.html" %}
{% load i18n %}

{% block h_title %}Клан-панель: документация и поддержка{% endblock %}

{% block content %}
<h1>Нужна помощь?</h1>

<p>
Вы можете <a href="{% trans "http://clanpaneldoc.readthedocs.org/en/latest/" %}">ознакомиться с документацией</a>.
</p>

<p>
Для вопросов, пожеланий, сообщений об ошибках, пожалуйста <a target="_blank" href="http://clanpanel.mybb.ru">напишите в форум поддержки клан-панели</a>.
</p>

<p>
Также можно написать в <a target="_blank" href="{{forum_topic}}">тему поддержки клан-панели</a> на официальном форуме WorldOfTanks или 
в "Личные Сообщения" для пользователя <strong>vb64</strong> на официальном форуме игры.
</p>

{% endblock %}

