{% extends "base.html" %}
{% load i18n %}

{% block h_title %}Защита Укрепрайона{% endblock %}

{% block content %}

<h2>Защита Укрепрайона</h2>

<p>
Ваш клан хочет пользоваться бонусами от укрепа высокого уровня, но не хотите быть "кормушкой" для топ-кланов? 
Или уже имеете в прошлом печальный опыт таких ситуаций?
</p>

<p>
Теоретически решение есть - обьединится с дружественными кланами и прикрывать атаками укрепы друг у друга, не давая врагам возможности для атаки. 
Но все, кто пробовал так делать, знают о возникающей при этом куче нестыковок.
</p>

<p>
"Укрепрайон" клан-панели решит большинство этих проблем. 
</p>

<p>
Каждому участнику союза будет предложен индивидуальный список задач, <a href="{% trans "http://clanpaneldoc.readthedocs.org/en/latest/" %}stronghold/tasks.html">составленный по правилам</a>, которые очень трудоемко учитывать вручную. 
Это гибкий список, автоматически перестраивающийся в зависимости от действий других участников союза. 
</p>

<p>
Данные всегда актуальны - если их "возраст" больше 10 минут, то они автоматически перечитываются с кланового портала WG.
</p>

<p>
Участники союза в любой момент могут посмотреть, какие кланы союза могут прикрыть им заданный день.
</p>

<p>
Доступны подсказки о времени, оставшемся до открытия новых атак на союзников и на ваш клан.
</p>

<p>
Сводная информация по союзу автоматически покажет вам "лентяев", плохо выполняющих задачи по прикрытию союзников.
</p>

<p>
Есть <a href="{% trans "http://clanpaneldoc.readthedocs.org/en/latest/" %}stronghold/index.html">подробное описание</a>.
</p>

<p>
Ида, все это полностью бесплатно.
</p>

<p>
<a class="btn btn-success" href="{% url action_login %}?continue={% url action_user_sh %}">Присоединяйтесь!</a>
</p>

{% endblock %}
