{% extends "main.html" %}

{% block msg_subscribe %}
Ви можете підписатися на отримання стрічки подій у вигляді <a onclick="this.target='target'" href="http://feeds.feedburner.com/Wargamingnet-clans-ru">RSS потоку</a>, або у вигляді <a onclick="this.target='target'" href="http://feedburner.google.com/fb/a/mailverify?uri=Wargamingnet-clans-ru&amp;loc=ru_RU">поштової розсилки</a>. 
{% endblock %}

{% block msg_url %}
Введіть адресу <a target="_blank" href="http://{{game_zone}}/">офіційної сторінки клану</a> у полі введення.
{% endblock %}

{% block msg_clanmember %}
Якщо ви перебуваєте в клані, ви можете <a href="{% url action_login %}?continue={% url action_user_clan %}">увійти через Wargaming OpenID</a>, і ваш клан буде доданий автоматично.
{% endblock %}

{% block msg_pricing %}

Клан-панель повністю безкоштовна для нових користувачів. Але для тих, кому необхідно більше можливостей, 
<a href="{% url action_doc_page page='pricing' %}">"Базовий" і "Преміумний" режими обслуговування</a> пропонують додаткові функції за прийнятну ціну. 
{% endblock %}

{% block msg_action %}
<p>
Існує демо-версія клан-панелі, обслуговуюча обмежений набір кланів, без можливості додати довільний клан.
Якщо вам незручно чекати накопичення даних по клану, що цікавить вас, в клан-панелі, то ви можете ознайомитися з обьемом і формою подачі вже накопиченого масиву статистичних даних, відвідавши це демо-сайт.
</p>
<p>
Збір даних по представлених в демо-версії кланах ведеться з грудня 2012 року. 
</p>
{% endblock %}
