{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>
Ви успішно сплатили обслуговування

{% if mode_type == 'base' %}
у базовому режимі на{{base_mode_days}} днів
{% else %}
у преміум режимі на {{prem_mode_days}} днів
{% endif %}

{% if clan %}
для клану [{{clan.tag}}]
{% endif %}
.
</p>

<p>
Перейти на
{% if clan %}
<a href="{% url clans_info server=clan.server clanid=clan.wotid %}">сторінку клану</a>
{% else %}
<a href="{% url action_home %}">головну сторінку</a>
{% endif %}.
</p>

{% endblock %}

