{% extends "base.html" %}
{% load i18n %}

{% block h_title %}Захист Укріпрайону{% endblock %}

{% block content %}

<h2>Захист Укріпрайону</h2>

<p>
Ваш клан хоче користуватися бонусами від укрепа високого рівня, але не хочете бути "годівницею" для топ-кланів?  
Або вже маєте у минулому сумний досвід таких ситуацій?
</p>

<p>
Теоретично рішення є - обьедінітся з дружніми кланами і прикривати атаками укрепи один у одного, не даючи ворогам можливості для атаки.  
Але всі, хто пробував так робити, знають про купу нестикувань, що виникає при цьому.
</p>

<p>
"Укріпрайон" клан-панелі вирішать більшість цих проблем.
</p>

<p>
Кожному учасникові союзу буде запропонований індивідуальний список завдань, <a href="{% trans "http://clanpaneldoc.readthedocs.org/en/latest/" %}stronghold/tasks.html">складений за правилами</a>, які дуже трудомістко враховувати вручну. 
Це гнучкий список, що автоматично перебудовується залежно від дій інших учасників союзу. 
</p>

<p>
Дані завжди актуальні - якщо їх "вік" більше 10 хвилин, то вони автоматично перечитуються з кланового порталу WG.
</p>

<p>
Учасники союзу у будь-який момент можуть поглянути, які клани союзу можуть прикрити їм заданий день.
</p>

<p>
Доступні підказки про час, що залишився до відкриття нових атак на союзників і на ваш клан.
</p>

<p>
Звідна інформація по союзу автоматично покаже вам "ледарів", що погано виконують завдання по прикриттю союзників.
</p>

<p>
Є <a href="{% trans "http://clanpaneldoc.readthedocs.org/en/latest/" %}stronghold/index.html">детальний опис</a>.
</p>

<p>
Іда, все це повністю безкоштовно.
</p>

<p>
<a class="btn btn-success" href="{% url action_login %}?continue={% url action_user_sh %}">Приєднуйтеся!</a>
</p>

{% endblock %}
