{% extends "error/openid_verify.html" %}

{% block promo_message %}
<p>
Вы отказались от авторизации через Wargaming OpenID. Если это решение вызвано сомнениями в безопасности вашего аккаунта, 
то вы можете ознакомиться с 
<a target="_blank" href="https://ru.wargaming.net/support/Knowledgebase/Article/View/430/20/chto-tkoe-servis-openid">позицией компании Wargaming</a>
по этому вопросу:
</p>

<div style="background-color:#D7D3C2;">
<p>
Компания Wargaming предлагает новый сервис — OpenID.
</p>
<p>
Теперь игроки World of Tanks, World of Warplanes и будущие игроки World of Warships могут <strong>безопасно авторизоваться на сторонних сайтах</strong> без дополнительной региcтрации с помощью личного Wargaming.net ID.
</p>
</div>

<p>
Протокол OpenID специально разработан для того, чтобы можно было проводить авторизацию без доступа к приватным данным учетной записи пользователя.
</p>
{% endblock %}
